<a href="https://colab.research.google.com/github/RubenAndreeB/challenge1_data-science_alura-store/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [7]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

In [8]:
tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

En este primer análisis, debes calcular el ingreso total de cada tienda. Sumando los valores de la columna Precio de cada conjunto de datos de la tienda para estimar los ingresos.

In [11]:
fact_tienda1 = tienda['Precio'].sum()
fact_tienda2 = tienda2['Precio'].sum()
fact_tienda3 = tienda3['Precio'].sum()
fact_tienda4 = tienda4['Precio'].sum()

print(f'La tienda 1 facturo: {fact_tienda1}')
print(f'La tienda 2 facturo: {fact_tienda2}')
print(f'La tienda 3 facturo: {fact_tienda3}')
print(f'La tienda 4 facturo: {fact_tienda4}')

La tienda 1 facturo: 1150880400.0
La tienda 2 facturo: 1116343500.0
La tienda 3 facturo: 1098019600.0
La tienda 4 facturo: 1038375700.0

# 2. Ventas por categoría

En este debes calcular la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [37]:
tienda['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [36]:
tienda2['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [38]:
tienda3['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [39]:
tienda4['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

En este paso, debes calcular las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [45]:
cal_tienda = tienda['Calificación'].mean()
cal_tienda2 = tienda2['Calificación'].mean()
cal_tienda3 = tienda3['Calificación'].mean()
cal_tienda4 = tienda4['Calificación'].mean()

# Crear una lista con las calificaciones promedio para iterar sobre ellas
calificaciones = [cal_tienda, cal_tienda2, cal_tienda3, cal_tienda4]

for i, cal in enumerate(calificaciones):
    print(f'La tienda {i+1} tiene una calificación promedio de: {cal:.2f}')

La tienda 1 tiene una calificación promedio de: 3.98
La tienda 2 tiene una calificación promedio de: 4.04
La tienda 3 tiene una calificación promedio de: 4.05
La tienda 4 tiene una calificación promedio de: 4.00

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda